.react-datepicker {
  font-family: var(--font-family);
  background-color: transparent;
  border-radius: 0;
  border: none;
}
.react-datepicker__month-container {
  display: flex;
  flex-direction: column;
  float: none;
}
.react-datepicker__header {
  border-radius: 0 !important;
  background-color: transparent;
  border: none;
  padding: 0;
}
.react-datepicker__current-month {
  color: var(--black);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  margin-bottom: 10px;
}
.react-datepicker__week,
.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
}
.react-datepicker__day-names {
  margin-bottom: -5px;
}
.react-datepicker__week {
  padding: 5px 0;
  border-bottom: 1px solid var(--gray-text);
}
.react-datepicker__day {
  border-radius: 50% !important;
}
.react-datepicker__day,
.react-datepicker__day-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin: 0;
  transition: var(--transition);
}
.react-datepicker__day-name {
  color: var(--primary);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.875rem;
}
.react-datepicker__day {
  color: var(--black);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
}
.react-datepicker__day--keyboard-selected {
  background-color: transparent;
}
.react-datepicker__day--disabled {
  color: var(--gray-dark);
  pointer-events: none;
}
.react-datepicker__day--selected {
  background-color: var(--black) !important;
  color: var(--white);
}
.react-datepicker__day:hover {
  background-color: var(--white) !important;
  color: var(--primary);
}
.react-datepicker__month {
  margin: 0;
}
.react-datepicker__navigation {
  top: 0;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.react-datepicker__navigation-icon:before {
  top: 7px;
  border-color: var(--gray-dark-text);
  border-width: 2px 2px 0 0;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation-icon--next {
  left: 0;
}
.react-datepicker__navigation--next {
  right: 0;
}
.react-datepicker__navigation-icon--previous {
  top: 0;
  right: 0;
}
.react-datepicker__navigation-icon--next {
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .react-datepicker__week {
    padding: 10px 15px;
  }
  .react-datepicker__day-names {
    padding: 0 15px;
  }
  .react-datepicker__navigation {
    top: 15px;
  }
  .react-datepicker__navigation--previous {
    left: 15px;
  }
  .react-datepicker__navigation--next {
    right: 15px;
  }
  .react-datepicker__current-month {
    height: 50px;
    background-color: var(--gray-light);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
